@model IEnumerable<SuperMarketECommerceWebApp.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="container-fluid">

    <div class="row d-flex justify-content-center">

        <div class="col-12 mt-5 text-left">
            <div class="table-responsive-xl">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ProductName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Price)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Catagory)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Info)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProductName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Catagory)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Info)
                                </td>
                                <td>
                                    <a asp-action="Details" asp-route-id="@item.ProductId"><i class="font-size-20 text-info fa fa-info-circle" aria-hidden="true"></i></a>
                                    <a asp-action="Edit" asp-route-id="@item.ProductId"><i class="font-size-20 text-success fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                    <a asp-action="Delete" asp-route-id="@item.ProductId"><i class="font-size-20 text-danger fa fa-trash-o" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>